In [116]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [117]:
train_data = pd.read_csv("training_set.csv")
test_data = pd.read_csv("testing_set.csv")
train_data.shape

(6770, 7)

In [118]:
train_data

      session_id  ...  user_bought_to_total_sessions_ratio
0            125  ...                             0.397260
1            127  ...                             0.397260
2            128  ...                             0.397260
3            129  ...                             0.397260
4            130  ...                             0.397260
...          ...  ...                                  ...
6765        9785  ...                             0.348837
6766        9786  ...                             0.348837
6767        9788  ...                             0.348837
6768        9791  ...                             0.348837
6769        9792  ...                             0.348837

[6770 rows x 7 columns]

TRAIN DATA

In [119]:
train_session_number = train_data['total_views']
train_session_length = train_data['time_in_minutes']
train_unique_products = train_data['unique_products']
train_unique_products_count = train_unique_products.str.count('\w+')
train_bought_number = train_data['user_bought_to_total_sessions_ratio']
train_labels = train_data['ended_with_bought']

In [120]:
train_session_number.to_numpy()
train_session_length.to_numpy()
train_unique_products_count.to_numpy()
train_bought_number.to_numpy()
train_labels.to_numpy()

array([0., 0., 1., ..., 0., 1., 1.])

In [121]:
train_labels

0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
6765    1.0
6766    1.0
6767    0.0
6768    1.0
6769    1.0
Name: ended_with_bought, Length: 6770, dtype: float64

In [122]:
train_data_processed = np.column_stack((train_session_number, train_session_length, train_unique_products_count, train_bought_number))

In [123]:
train_data_processed[6768]

array([ 9.        , 22.        ,  9.        ,  0.34883721])

TEST DATA

In [124]:
test_session_number = test_data['total_views']
test_session_length = test_data['time_in_minutes']
test_unique_products = test_data['unique_products']
test_unique_products_count = test_unique_products.str.count('\w+')
test_bought_number = test_data['user_bought_to_total_sessions_ratio']
test_labels = test_data['ended_with_bought']

test_session_number.to_numpy()
test_session_length.to_numpy()
test_unique_products_count.to_numpy()
test_bought_number.to_numpy()
test_labels.to_numpy()

test_data_processed = np.column_stack((test_session_number, test_session_length, test_unique_products_count, test_bought_number))

In [125]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_dim=4),
    tf.keras.layers.Dense(10, activation='tanh'),
    tf.keras.layers.Dropout(0.1),
    tf.keras.layers.Dense(12, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(6, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer = 'adam',
    loss = tf.keras.losses.BinaryCrossentropy(from_logits=False),
    metrics=['accuracy']
)

In [126]:
model.fit(train_data_processed, train_labels, epochs=10)

Epoch 1/10
212/212 [==============================] - 1s 2ms/step - loss: 0.6436 - accuracy: 0.6386
Epoch 2/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5918 - accuracy: 0.6857
Epoch 3/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5704 - accuracy: 0.6963
Epoch 4/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5611 - accuracy: 0.7000
Epoch 5/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5527 - accuracy: 0.7031
Epoch 6/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5477 - accuracy: 0.7052
Epoch 7/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5458 - accuracy: 0.6981
Epoch 8/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5417 - accuracy: 0.7035
Epoch 9/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5390 - accuracy: 0.7072
Epoch 10/10
212/212 [==============================] - 0s 2ms/step - loss: 0.5370 - accuracy: 0.7061

In [127]:
model.evaluate(test_data_processed, test_labels, verbose=2)

91/91 - 0s - loss: 0.5155 - accuracy: 0.7270 - 241ms/epoch - 3ms/step

[0.515529990196228, 0.7269906997680664]