In [2]:
import pandas as pd
import numpy as np

In [57]:
sessions_df = pd.read_json('/home/janek/Projekty/IUM/data/raw/sessions.jsonl', lines=True)
sessions_df

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-01-01 18:24:14,102,1002,VIEW_PRODUCT,0,NaN
1,124,2021-01-01 18:27:37,102,1003,VIEW_PRODUCT,0,NaN
2,124,2021-01-01 18:28:11,102,1075,VIEW_PRODUCT,0,NaN
3,124,2021-01-01 18:29:03,102,1076,VIEW_PRODUCT,0,NaN
4,124,2021-01-01 18:30:46,102,1077,VIEW_PRODUCT,0,NaN
...,...,...,...,...,...,...,...
59882,9793,2021-12-03 00:39:12,301,1035,VIEW_PRODUCT,20,NaN
59883,9793,2021-12-03 00:43:38,301,1067,VIEW_PRODUCT,20,NaN
59884,9793,2021-12-03 00:47:05,301,1067,BUY_PRODUCT,20,24236.0
59885,9794,2021-12-06 19:59:53,301,1318,VIEW_PRODUCT,15,NaN
59886,9794,2021-12-06 20:04:07,301,1318,BUY_PRODUCT,15,24237.0

In [45]:
sessions_without_buy_event = sessions_df[sessions_df['event_type'] == 'VIEW_PRODUCT']

In [72]:
grouped_sessions = sessions_without_buy_event.groupby(['session_id', 'user_id']).count()
grouped_sessions.reset_index(level="user_id")
del grouped_sessions['timestamp']
del grouped_sessions['event_type']
del grouped_sessions['offered_discount']
del grouped_sessions['purchase_id']
grouped_sessions = grouped_sessions.rename(columns={'product_id': "total_views"}).reset_index(level=["user_id"])
grouped_sessions

            user_id  total_views
session_id
124             102            9
125             102            2
126             102           10
127             102           10
128             102            2
...             ...          ...
9790            301            1
9791            301            9
9792            301            2
9793            301            2
9794            301            1

[9671 rows x 2 columns]

In [73]:
grouped_sessions['unique_products'] = sessions_df.groupby('session_id').product_id.agg('unique')

In [74]:
grouped_sessions

,user_id,total_views,unique_products
session_id,,,
124,102,9,"[1002, 1003, 1075, 1076, 1077, 1078, 1079, 108..."
125,102,2,[1283]
126,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105..."
127,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105..."
128,102,2,"[1278, 1281]"
...,...,...,...
9790,301,1,[1283]
9791,301,9,"[1040, 1041, 1042, 1043, 1044, 1045, 1046, 104..."
9792,301,2,"[1276, 1277]"
9793,301,2,"[1035, 1067]"
9794,301,1,[1318]

In [75]:
time_of_each_session = sessions_df.groupby(['session_id']).timestamp.agg([min, max])
time_of_each_session = (time_of_each_session['max'] - time_of_each_session['min']).dt.total_seconds().div(60).astype(int)
grouped_sessions['time_in_minutes'] = time_of_each_session
grouped_sessions

,user_id,total_views,unique_products,time_in_minutes
session_id,,,,
124,102,9,"[1002, 1003, 1075, 1076, 1077, 1078, 1079, 108...",19
125,102,2,[1283],4
126,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105...",15
127,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105...",19
128,102,2,"[1278, 1281]",1
...,...,...,...,...
9790,301,1,[1283],0
9791,301,9,"[1040, 1041, 1042, 1043, 1044, 1045, 1046, 104...",22
9792,301,2,"[1276, 1277]",6
9793,301,2,"[1035, 1067]",7
9794,301,1,[1318],4

In [98]:
sessions_when_bought_grouped = sessions_df[sessions_df.event_type == 'BUY_PRODUCT'].groupby('session_id').count()['event_type']
data_to_model = grouped_sessions.join(sessions_when_bought_grouped, rsuffix="bought").fillna(0).rename(columns={"event_type": "ended_with_bought"})

In [99]:
import json
f = open('/home/janek/Projekty/IUM/data/processed/session_ratio_per_user.json')
ratio = json.load(f)
ratio

{'102': 0.3972602739726027,
 '103': 0.3333333333333333,
 '104': 0.0,
 '105': 0.5,
 '106': 0.5121951219512195,
 '107': 0.5357142857142857,
 '108': 0.45901639344262296,
 '109': 0.5543478260869565,
 '110': 0.4533333333333333,
 '111': 0.49382716049382713,
 '112': 0.5,
 '113': 0.5263157894736842,
 '114': 0.0,
 '115': 0.3442622950819672,
 '116': 0.3137254901960784,
 '117': 0.3888888888888889,
 '118': 0.4155844155844156,
 '119': 0.48936170212765956,
 '120': 0.4745762711864407,
 '121': 0.36065573770491804,
 '122': 0.4406779661016949,
 '123': 0.42857142857142855,
 '124': 0.3333333333333333,
 '125': 0.4642857142857143,
 '126': 0.4225352112676056,
 '127': 0.4117647058823529,
 '128': 0.35555555555555557,
 '129': 0.30303030303030304,
 '130': 0.3181818181818182,
 '131': 0.45652173913043476,
 '132': 0.42857142857142855,
 '133': 0.3333333333333333,
 '134': 0.5217391304347826,
 '135': 0.2727272727272727,
 '136': 0.44594594594594594,
 '137': 0.3684210526315789,
 '138': 0.5070422535211268,
 '139': 0.4945054945054945,
 '140': 0.32608695652173914,
 '141': 0.4838709677419355,
 '142': 0.43243243243243246,
 '143': 0.1,
 '144': 0.56,
 '145': 0.5,
 '146': 0.375,
 '147': 0.09090909090909091,
 '148': 0.4074074074074074,
 '149': 0.4406779661016949,
 '150': 0.5172413793103449,
 '151': 0.4117647058823529,
 '152': 0.43902439024390244,
 '153': 0.3695652173913043,
 '154': 0.0,
 '155': 0.4470588235294118,
 '156': 0.38461538461538464,
 '157': 0.6,
 '158': 0.34782608695652173,
 '159': 0.35294117647058826,
 '160': 0.35294117647058826,
 '161': 0.5,
 '162': 0.4090909090909091,
 '163': 0.2916666666666667,
 '164': 0.494949494949495,
 '165': 0.4367816091954023,
 '166': 0.3617021276595745,
 '167': 0.43478260869565216,
 '168': 0.5204081632653061,
 '169': 0.5384615384615384,
 '170': 0.3684210526315789,
 '171': 0.5135135135135135,
 '172': 0.35555555555555557,
 '173': 0.4393939393939394,
 '174': 0.45569620253164556,
 '175': 0.0,
 '176': 0.2692307692307692,
 '177': 0.44680851063829785,
 '178': 0.4186046511627907,
 '179': 0.4603174603174603,
 '180': 0.2857142857142857,
 '181': 0.4230769230769231,
 '182': 0.35555555555555557,
 '183': 0.4642857142857143,
 '184': 0.2857142857142857,
 '185': 0.5111111111111111,
 '186': 0.4411764705882353,
 '187': 0.5185185185185185,
 '188': 0.43636363636363634,
 '189': 0.6052631578947368,
 '190': 0.4444444444444444,
 '191': 0.0,
 '192': 0.358974358974359,
 '193': 0.48,
 '194': 0.4,
 '195': 0.40963855421686746,
 '196': 0.5833333333333334,
 '197': 0.8,
 '198': 0.31645569620253167,
 '199': 0.5714285714285714,
 '200': 0.5760869565217391,
 '201': 0.4482758620689655,
 '202': 0.25,
 '203': 0.0,
 '204': 0.43283582089552236,
 '205': 0.43137254901960786,
 '206': 0.5454545454545454,
 '207': 0.2,
 '208': 0.46808510638297873,
 '209': 0.38666666666666666,
 '210': 0.3953488372093023,
 '211': 0.40625,
 '212': 0.4827586206896552,
 '213': 0.375,
 '214': 0.3939393939393939,
 '215': 0.2,
 '216': 0.375,
 '217': 0.4090909090909091,
 '218': 0.4875,
 '219': 0.42857142857142855,
 '220': 0.48717948717948717,
 '221': 0.2692307692307692,
 '222': 0.25,
 '223': 0.35714285714285715,
 '224': 0.4342105263157895,
 '225': 0.37037037037037035,
 '226': 0.5217391304347826,
 '227': 0.425,
 '228': 0.52,
 '229': 0.48936170212765956,
 '230': 0.3125,
 '231': 0.4945054945054945,
 '232': 0.25,
 '233': 0.3157894736842105,
 '234': 0.5125,
 '235': 0.4444444444444444,
 '236': 0.4,
 '237': 0.3870967741935484,
 '238': 0.36363636363636365,
 '239': 0.37777777777777777,
 '240': 0.4931506849315068,
 '241': 0.2857142857142857,
 '242': 0.5333333333333333,
 '243': 0.3225806451612903,
 '244': 0.46,
 '245': 0.3333333333333333,
 '246': 0.45555555555555555,
 '247': 0.32,
 '248': 0.4523809523809524,
 '249': 0.3125,
 '250': 0.4603174603174603,
 '251': 0.4691358024691358,
 '252': 0.49295774647887325,
 '253': 0.37209302325581395,
 '254': 0.0,
 '255': 0.47126436781609193,
 '256': 0.5578947368421052,
 '257': 0.32608695652173914,
 '258': 0.46464646464646464,
 '259': 0.44871794871794873,
 '260': 0.29310344827586204,
 '261': 0.36585365853658536,
 '262': 0.44,
 '263': 0.36363636363636365,
 '264': 0.46,
 '265': 0.4696969696969697,
 '266': 0.2894736842105263,
 '267': 0.45714285714285713,
 '268': 0.25,
 '269': 0.2857142857142857,
 '270': 0.42857142857142855,
 '271': 0.9230769230769231,
 '272': 0.4444444444444444,
 '273': 0.3939393939393939,
 '274': 0.4074074074074074,
 '275': 0.40350877192982454,
 '276': 0.41935483870967744,
 '277': 0.5714285714285714,
 '278': 0.3333333333333333,
 '279': 0.40350877192982454,
 '280': 0.37777777777777777,
 '281': 0.5555555555555556,
 '282': 0.4782608695652174,
 '283': 0.375,
 '284': 0.49411764705882355,
 '285': 0.36363636363636365,
 '286': 0.21052631578947367,
 '287': 0.34285714285714286,
 '288': 0.3466666666666667,
 '289': 0.42857142857142855,
 '290': 0.46236559139784944,
 '291': 0.0,
 '292': 0.4,
 '293': 0.5,
 '294': 0.5357142857142857,
 '295': 0.4426229508196721,
 '296': 0.29411764705882354,
 '297': 0.3877551020408163,
 '298': 0.3333333333333333,
 '299': 0.4489795918367347,
 '300': 0.0,
 '301': 0.3488372093023256}

In [100]:
data_to_model['user_bought_to_total_sessions_ratio'] = data_to_model['user_id'].map(lambda x: ratio[str(x)])

In [101]:
data_to_model.to_csv('')

,user_id,total_views,unique_products,time_in_minutes,ended_with_bought,user_bought_to_total_sessions_ratio
session_id,,,,,,
124,102,9,"[1002, 1003, 1075, 1076, 1077, 1078, 1079, 108...",19,1.0,0.397260
125,102,2,[1283],4,0.0,0.397260
126,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105...",15,0.0,0.397260
127,102,10,"[1048, 1049, 1050, 1051, 1052, 1053, 1054, 105...",19,0.0,0.397260
128,102,2,"[1278, 1281]",1,1.0,0.397260
...,...,...,...,...,...,...
9790,301,1,[1283],0,0.0,0.348837
9791,301,9,"[1040, 1041, 1042, 1043, 1044, 1045, 1046, 104...",22,1.0,0.348837
9792,301,2,"[1276, 1277]",6,1.0,0.348837
9793,301,2,"[1035, 1067]",7,1.0,0.348837
9794,301,1,[1318],4,1.0,0.348837

In [6]:
sessions_df = sessions_df.join(time_of_each_session, on='session_id')
sessions_df

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id,min,max
0,124,2021-01-01 18:24:14,102,1002,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
1,124,2021-01-01 18:27:37,102,1003,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
2,124,2021-01-01 18:28:11,102,1075,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
3,124,2021-01-01 18:29:03,102,1076,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
4,124,2021-01-01 18:30:46,102,1077,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
...,...,...,...,...,...,...,...,...,...
59882,9793,2021-12-03 00:39:12,301,1035,VIEW_PRODUCT,20,NaN,2021-12-03 00:39:12,2021-12-03 00:47:05
59883,9793,2021-12-03 00:43:38,301,1067,VIEW_PRODUCT,20,NaN,2021-12-03 00:39:12,2021-12-03 00:47:05
59884,9793,2021-12-03 00:47:05,301,1067,BUY_PRODUCT,20,24236.0,2021-12-03 00:39:12,2021-12-03 00:47:05
59885,9794,2021-12-06 19:59:53,301,1318,VIEW_PRODUCT,15,NaN,2021-12-06 19:59:53,2021-12-06 20:04:07
59886,9794,2021-12-06 20:04:07,301,1318,BUY_PRODUCT,15,24237.0,2021-12-06 19:59:53,2021-12-06 20:04:07

In [7]:
def calculate_minutes_since_session_begin(row):
    difference = pd.Timestamp(row['timestamp']) - pd.Timestamp(row['min'])
    row['minutes_since_session_begin'] = difference.seconds // 60 % 60
    return row

result_df = sessions_df.apply(calculate_minutes_since_session_begin, axis='columns')

In [8]:
del result_df['timestamp']
del result_df['user_id']
del result_df['purchase_id']
del result_df['min']
del result_df['max']

In [9]:
result_df

,session_id,product_id,event_type,offered_discount,minutes_since_session_begin
0,124,1002,VIEW_PRODUCT,0,0
1,124,1003,VIEW_PRODUCT,0,3
2,124,1075,VIEW_PRODUCT,0,3
3,124,1076,VIEW_PRODUCT,0,4
4,124,1077,VIEW_PRODUCT,0,6
...,...,...,...,...,...
59882,9793,1035,VIEW_PRODUCT,20,0
59883,9793,1067,VIEW_PRODUCT,20,4
59884,9793,1067,BUY_PRODUCT,20,7
59885,9794,1318,VIEW_PRODUCT,15,0
59886,9794,1318,BUY_PRODUCT,15,4

In [14]:
result_df.event_type = result_df.event_type.map(lambda event: 0 if event == 'VIEW_PRODUCT' else 1)

In [28]:
result_df

,session_id,product_id,event_type,offered_discount,minutes_since_session_begin
0,124,1002,0,0,0
1,124,1003,0,0,3
2,124,1075,0,0,3
3,124,1076,0,0,4
4,124,1077,0,0,6
...,...,...,...,...,...
59882,9793,1035,0,20,0
59883,9793,1067,0,20,4
59884,9793,1067,1,20,7
59885,9794,1318,0,15,0
59886,9794,1318,1,15,4

In [16]:
products_df = pd.read_csv('/home/janek/Projekty/IUM/data/processed/products_with_one_hot_encoding.csv')

In [18]:
del products_df['Unnamed: 0']

In [22]:
products_df

,product_id,price,category_path_Akcesoria telefoniczne,category_path_Anteny RTV,category_path_Audio,category_path_Biurowe urządzenia wielofunkcyjne,category_path_Drukarki i skanery,category_path_Gry PlayStation3,category_path_Gry Xbox 360,category_path_Gry i konsole,...,category_path_Słuchawki,category_path_Tablety,category_path_Tablety i akcesoria,category_path_Telefony i akcesoria,category_path_Telefony komórkowe,category_path_Telefony stacjonarne,category_path_Telewizory i akcesoria,category_path_Video,category_path_Zestawy głośnomówiące,category_path_Zestawy słuchawkowe
0,1001,117.94,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1002,6145.50,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,22917.00,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,149.97,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,149.97,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1315,164.97,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
315,1316,747.00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
316,1317,3911.88,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
317,1318,1659.00,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
318,1319,44.97,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [23]:
products_df.set_index('product_id')

,price,category_path_Akcesoria telefoniczne,category_path_Anteny RTV,category_path_Audio,category_path_Biurowe urządzenia wielofunkcyjne,category_path_Drukarki i skanery,category_path_Gry PlayStation3,category_path_Gry Xbox 360,category_path_Gry i konsole,category_path_Gry komputerowe,...,category_path_Słuchawki,category_path_Tablety,category_path_Tablety i akcesoria,category_path_Telefony i akcesoria,category_path_Telefony komórkowe,category_path_Telefony stacjonarne,category_path_Telewizory i akcesoria,category_path_Video,category_path_Zestawy głośnomówiące,category_path_Zestawy słuchawkowe
product_id,,,,,,,,,,,,,,,,,,,,,
1001,117.94,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1002,6145.50,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,22917.00,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,149.97,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1005,149.97,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,164.97,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1316,747.00,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1317,3911.88,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1318,1659.00,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1319,44.97,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [32]:
result_df.merge(products_df).sort_values(by='session_id').to_csv('/home/janek/Projekty/IUM/data/processed/result_dataset.csv')