In [1]:
import pandas as pd
import numpy as np

In [2]:
sessions_df = pd.read_csv('/home/janek/Projekty/IUM/data/processed/sessions.csv')

In [3]:
sessions_df
del sessions_df['Unnamed: 0']

In [4]:
sessions_df

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-01-01 18:24:14,102,1002,VIEW_PRODUCT,0,NaN
1,124,2021-01-01 18:27:37,102,1003,VIEW_PRODUCT,0,NaN
2,124,2021-01-01 18:28:11,102,1075,VIEW_PRODUCT,0,NaN
3,124,2021-01-01 18:29:03,102,1076,VIEW_PRODUCT,0,NaN
4,124,2021-01-01 18:30:46,102,1077,VIEW_PRODUCT,0,NaN
...,...,...,...,...,...,...,...
59882,9793,2021-12-03 00:39:12,301,1035,VIEW_PRODUCT,20,NaN
59883,9793,2021-12-03 00:43:38,301,1067,VIEW_PRODUCT,20,NaN
59884,9793,2021-12-03 00:47:05,301,1067,BUY_PRODUCT,20,24236.0
59885,9794,2021-12-06 19:59:53,301,1318,VIEW_PRODUCT,15,NaN
59886,9794,2021-12-06 20:04:07,301,1318,BUY_PRODUCT,15,24237.0

In [5]:
time_of_each_session = sessions_df.groupby(['session_id']).timestamp.agg([min, max])
time_of_each_session

                            min                  max
session_id
124         2021-01-01 18:24:14  2021-01-01 18:43:28
125         2021-01-03 20:40:54  2021-01-03 20:45:12
126         2021-01-07 20:45:44  2021-01-07 21:01:25
127         2021-01-23 14:54:00  2021-01-23 15:13:39
128         2021-01-25 17:04:15  2021-01-25 17:06:10
...                         ...                  ...
9790        2021-11-17 08:44:20  2021-11-17 08:44:20
9791        2021-11-30 07:08:04  2021-11-30 07:30:17
9792        2021-12-02 16:30:10  2021-12-02 16:36:56
9793        2021-12-03 00:39:12  2021-12-03 00:47:05
9794        2021-12-06 19:59:53  2021-12-06 20:04:07

[9671 rows x 2 columns]

In [6]:
sessions_df = sessions_df.join(time_of_each_session, on='session_id')
sessions_df

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id,min,max
0,124,2021-01-01 18:24:14,102,1002,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
1,124,2021-01-01 18:27:37,102,1003,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
2,124,2021-01-01 18:28:11,102,1075,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
3,124,2021-01-01 18:29:03,102,1076,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
4,124,2021-01-01 18:30:46,102,1077,VIEW_PRODUCT,0,NaN,2021-01-01 18:24:14,2021-01-01 18:43:28
...,...,...,...,...,...,...,...,...,...
59882,9793,2021-12-03 00:39:12,301,1035,VIEW_PRODUCT,20,NaN,2021-12-03 00:39:12,2021-12-03 00:47:05
59883,9793,2021-12-03 00:43:38,301,1067,VIEW_PRODUCT,20,NaN,2021-12-03 00:39:12,2021-12-03 00:47:05
59884,9793,2021-12-03 00:47:05,301,1067,BUY_PRODUCT,20,24236.0,2021-12-03 00:39:12,2021-12-03 00:47:05
59885,9794,2021-12-06 19:59:53,301,1318,VIEW_PRODUCT,15,NaN,2021-12-06 19:59:53,2021-12-06 20:04:07
59886,9794,2021-12-06 20:04:07,301,1318,BUY_PRODUCT,15,24237.0,2021-12-06 19:59:53,2021-12-06 20:04:07

In [7]:
def calculate_minutes_since_session_begin(row):
    difference = pd.Timestamp(row['timestamp']) - pd.Timestamp(row['min'])
    row['minutes_since_session_begin'] = difference.seconds // 60 % 60
    return row

result_df = sessions_df.apply(calculate_minutes_since_session_begin, axis='columns')

In [8]:
del result_df['timestamp']
del result_df['user_id']
del result_df['purchase_id']
del result_df['min']
del result_df['max']

In [9]:
result_df

,session_id,product_id,event_type,offered_discount,minutes_since_session_begin
0,124,1002,VIEW_PRODUCT,0,0
1,124,1003,VIEW_PRODUCT,0,3
2,124,1075,VIEW_PRODUCT,0,3
3,124,1076,VIEW_PRODUCT,0,4
4,124,1077,VIEW_PRODUCT,0,6
...,...,...,...,...,...
59882,9793,1035,VIEW_PRODUCT,20,0
59883,9793,1067,VIEW_PRODUCT,20,4
59884,9793,1067,BUY_PRODUCT,20,7
59885,9794,1318,VIEW_PRODUCT,15,0
59886,9794,1318,BUY_PRODUCT,15,4

In [14]:
result_df.event_type = result_df.event_type.map(lambda event: 0 if event == 'VIEW_PRODUCT' else 1)

In [28]:
result_df

,session_id,product_id,event_type,offered_discount,minutes_since_session_begin
0,124,1002,0,0,0
1,124,1003,0,0,3
2,124,1075,0,0,3
3,124,1076,0,0,4
4,124,1077,0,0,6
...,...,...,...,...,...
59882,9793,1035,0,20,0
59883,9793,1067,0,20,4
59884,9793,1067,1,20,7
59885,9794,1318,0,15,0
59886,9794,1318,1,15,4

In [16]:
products_df = pd.read_csv('/home/janek/Projekty/IUM/data/processed/products_with_one_hot_encoding.csv')

In [18]:
del products_df['Unnamed: 0']

In [22]:
products_df

,product_id,price,category_path_Akcesoria telefoniczne,category_path_Anteny RTV,category_path_Audio,category_path_Biurowe urządzenia wielofunkcyjne,category_path_Drukarki i skanery,category_path_Gry PlayStation3,category_path_Gry Xbox 360,category_path_Gry i konsole,...,category_path_Słuchawki,category_path_Tablety,category_path_Tablety i akcesoria,category_path_Telefony i akcesoria,category_path_Telefony komórkowe,category_path_Telefony stacjonarne,category_path_Telewizory i akcesoria,category_path_Video,category_path_Zestawy głośnomówiące,category_path_Zestawy słuchawkowe
0,1001,117.94,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1002,6145.50,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,22917.00,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,149.97,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,149.97,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1315,164.97,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
315,1316,747.00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
316,1317,3911.88,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
317,1318,1659.00,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
318,1319,44.97,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [23]:
products_df.set_index('product_id')

,price,category_path_Akcesoria telefoniczne,category_path_Anteny RTV,category_path_Audio,category_path_Biurowe urządzenia wielofunkcyjne,category_path_Drukarki i skanery,category_path_Gry PlayStation3,category_path_Gry Xbox 360,category_path_Gry i konsole,category_path_Gry komputerowe,...,category_path_Słuchawki,category_path_Tablety,category_path_Tablety i akcesoria,category_path_Telefony i akcesoria,category_path_Telefony komórkowe,category_path_Telefony stacjonarne,category_path_Telewizory i akcesoria,category_path_Video,category_path_Zestawy głośnomówiące,category_path_Zestawy słuchawkowe
product_id,,,,,,,,,,,,,,,,,,,,,
1001,117.94,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1002,6145.50,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,22917.00,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,149.97,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1005,149.97,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,164.97,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1316,747.00,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1317,3911.88,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1318,1659.00,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1319,44.97,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [32]:
result_df.merge(products_df).sort_values(by='session_id').to_csv('/home/janek/Projekty/IUM/data/processed/result_dataset.csv')